/* Filler */
#filler {
    background-color: var(--main-div-color);
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    margin-left: 10%;
    flex: 2;
}


#size {
    width: auto;
}

.title {
    margin: 0;
    padding: 10px;
}

.stock-photo {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px
}

.atc-button {
    padding: 14px 40px;
    font-size: 24px;
    background-color: #e7e7e7;
    color: black;
}

/* Smaller Resolutions */
@media only screen and (max-width: 600px) {
    #filler {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}